<footer>
    <div class="container pt-4 pb-4">
        <div class="row">
            <div class="col-8">
                <partial name="_Logo" />
            </div>
            <div class="col-4">
                <span class="text-white small">
                    02437 833 692
                </span><br />
                <span class="text-white small">
                    lienhe@vietnamgraphite.com
                </span><br />
                <span class="text-white small">
                    Tầng 15, Tòa nhà Việt Á, Phố Duy Tân, Cầu Giấy, Hà Nội
                </span>
            </div>
        </div>
        <div class="row pt-3">
            <div class="col-8">
                <span class="text-white small">Copyright © 2018 VIETNAMGRAPHITE. All Right Reserved.</span>
            </div>
            <div class="col-4">
                <a class="text-white" href="#"><i class="fab fa-facebook-square"></i></a>
                <a class="text-white pl-4" href="#"><i class="fab fa-youtube"></i></a>
                <a class="text-white pl-4" href="#"><i class="fab fa-instagram"></i></a>
            </div>
        </div>
    </div>
</footer>
