<footer>
    <div class="container pt-4 pb-4">
        <div class="row">
            <div class="col-12">
                <partial name="_Logo" />
            </div>
            <div class="col-12">
                <span class="text-white small">
                    02437 833 692
                </span><br />
                <span class="text-white small">
                    lienhe@vietnamgraphite.com
                </span><br />
                <span class="text-white small">
                    Tầng 15, Tòa nhà Việt Á, Phố Duy Tân, Cầu Giấy, Hà Nội
                </span>
            </div>
        </div>
    </div>
</footer>
