
@{
    ViewData["Title"] = "Đội ngũ";
}

@section Scripts{
    <script src="~/dist/team-mng.bundle.js"></script>
}

<div id="team-contain" class="mb-5">
    <div id="team-header-carousel" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="~/dist/images/hands.jpg" class="d-block w-100 slide img img-responsive">
            </div>
            <div class="carousel-caption mb-5 d-none d-md-block">
                <div class="row">
                    <div class="col-sm text-center text-animate tracking-in-contract-bck-bottom">
                        <h1>
                            ĐỘI NGŨ TRẺ TRUNG, NHIỆT HUYẾT
                        </h1>
                        <h1>
                            VỮNG CHUYÊN MÔN
                        </h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="ceo-info" class="building-info pt-5">
        <div class="container-fluid">
            <div class="row">
                <div class="col-4 offset-1 pt-5" style="display: flex;">
                    <div class="align-self-center text-animate focus-in-contract-bck">
                        <h3 class="text-uppercase align-middle">ÔNG NGUYỄN ĐỨC LƯỢNG</h3>
                        <p class="pt-1 mb-0 multiline">
                            Chủ tịch HĐTV
                            Công ty TNHH Thương mại VIETNAM GRAPHITE
                        </p>
                    </div>
                </div>
                <div class="col-7 p-0">
                    <img style="max-width:100%;" src="~/dist/images/ceo-1.png" />
                </div>
            </div>
        </div>
    </div>
    <div id="content-below" class="team-slogan">
        <div class="text-white py-4">
            <div class="container">
                <div class="row text-center text-lg-center align-items-lg-center">
                    <div class="col-12 text-white">
                        <p class="font-weight-normal op-9 my-0">Tận tình với công việc, luôn đoàn kết gắn bó tạo ra sức mạnh làm nền tảng</p>
                        <p class="font-weight-normal op-9 my-0">cho sự phát triển bền vững của VIETNAM GRAPHITE</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="team-meeting-carousel" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="~/dist/images/team-meeting.jpg" class="d-block w-100">
            </div>
        </div>
        <div class="triangle-contain triangle-white-up">
        </div>
    </div>
    <div id="team-level" class="map-intro-1 pt-5 pb-5">
        <div class="container">
            <div class="row">
                <div class="col-12 text-center pl-5 font-weight-bold">
                    <p class="mb-0">
                        Tổng số cán bộ công nhân viên của công ty hiện có là
                    </p>
                    <p>
                        trên 100 người. Trong đó:
                    </p>
                </div>
            </div>
            <div class="row pt-5 align-items-lg-center">
                <div class="col-3">
                    <div class="hexagon ml-5">
                        <div class="hexagon-inner-text pt-3">
                            <h1 class="font-weight-bold"><span>02</span></h1>
                            <p class="text-uppercase font-weight-bold">Người</p>
                        </div>
                    </div>
                    <h5 class="text-center text-uppercase pt-5 mb-0">
                        NGƯỜI TRÌNH ĐỘ
                    </h5>
                    <h5 class="text-center text-uppercase">
                        TRÊN ĐẠI HỌC
                    </h5>
                </div>
                <div class="col-3">
                    <div class="hexagon ml-5">
                        <div class="hexagon-inner-text pt-3">
                            <h1 class="font-weight-bold"><span>80</span>%</h1>
                        </div>
                    </div>
                    <h5 class="text-center text-uppercase pt-5 mb-0">
                        TRÌNH ĐỘ
                    </h5>
                    <h5 class="text-center text-uppercase">
                        ĐẠI HỌC
                    </h5>
                </div>
                <div class="col-3">
                    <div class="hexagon ml-5">
                        <div class="hexagon-inner-text pt-3">
                            <h1 class="font-weight-bold"><span>10</span>%</h1>
                        </div>
                    </div>
                    <h5 class="text-center text-uppercase pt-5 mb-0">
                        NGƯỜI TRÌNH ĐỘ
                    </h5>
                    <h5 class="text-center text-uppercase">
                        DƯỚI ĐẠI HỌC
                    </h5>
                </div>
                <div class="col-3">
                    <div class="hexagon ml-5">
                        <div class="hexagon-inner-text pt-3">
                            <h1 class="font-weight-bold"><span>04</span>%</h1>
                        </div>
                    </div>
                    <h5 class="text-center text-uppercase pt-5 mb-0">
                        LAO ĐỘNG
                    </h5>
                    <h5 class="text-center text-uppercase">
                        PHỔ THÔNG
                    </h5>
                </div>
            </div>
        </div>
    </div>
</div>

