
@{
    ViewData["Title"] = "Đội ngũ";
}

@section Scripts{
    <script src="~/dist/team-mng.bundle.js"></script>
}

<div id="team-contain" class="mb-5">
    <div id="team-header-carousel" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="~/dist/images/hands.jpg" class="d-block w-100 slide img img-responsive">
            </div>
            <div class="carousel-caption mb-2 d-md-block">
                <div class="row">
                    <div class="col-sm text-center text-animate tracking-in-contract-bck-bottom">
                        <h5>
                            ĐỘI NGŨ TRẺ TRUNG
                        </h5>
                        <h5>
                            NHIỆT HUYẾT
                        </h5>
                        <h5>
                            VỮNG CHUYÊN MÔN
                        </h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="ceo-info" class="building-info pt-5">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12 p-0">
                    <img style="max-width:100%;" src="~/dist/images/ceo-1.png" />
                </div>
                <div class="col-12 pt-2 pb-5">
                    <div class="align-self-center text-animate focus-in-contract-bck">
                        <h5 class="text-uppercase align-middle">ÔNG NGUYỄN ĐỨC LƯỢNG</h5>
                        <p class="pt-1 mb-0 multiline">Chủ tịch HĐTV
                            Công ty TNHH Thương mại VIETNAM GRAPHITE
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="content-below" class="team-slogan">
        <div class="text-white py-4">
            <div class="container">
                <div class="row text-center text-lg-center align-items-lg-center">
                    <div class="col-12 text-white">
                        <p class="font-weight-normal op-9 my-0">Tận tình với công việc, luôn đoàn kết gắn bó tạo ra sức mạnh làm nền tảng</p>
                        <p class="font-weight-normal op-9 my-0">cho sự phát triển bền vững của VIETNAM GRAPHITE</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="team-level" class="map-intro-1 pt-5 pb-5">
        <div class="container">
            <div class="row">
                <div class="col-12 text-center pl-5 font-weight-bold">
                    <p class="mb-0">
                        Tổng số cán bộ công nhân viên của công ty hiện có là trên 100 người. Trong đó:
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div id="team-meeting-carousel" class="carousel slide carousel-fade" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#team-meeting-carousel" data-slide-to="0" class="active"></li>
            <li data-target="#team-meeting-carousel" data-slide-to="1"></li>
            <li data-target="#team-meeting-carousel" data-slide-to="2"></li>
            <li data-target="#team-meeting-carousel" data-slide-to="3"></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="~/dist/images/team-meeting-gradient.jpg" class="d-block w-100" alt="...">
                <div class="carousel-caption d-md-block">
                    <div class="row">
                        <div class="col-sm text-center focus-in-contract-bck">
                            <h4 class="font-weight-bold">02</h4>
                            <h4 class="font-weight-bold">NGƯỜI TRÊN TRÌNH ĐỘ</h4>
                            <h4 class="font-weight-bold">ĐẠI HỌC</h4>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <img src="~/dist/images/team-meeting-gradient.jpg" class="d-block w-100" alt="...">
                <div class="carousel-caption d-md-block">
                    <div class="row">
                        <div class="col-sm text-center focus-in-contract-bck">
                            <h4 class="font-weight-bold">80 %</h4>
                            <h4 class="font-weight-bold">TRÌNH ĐỘ ĐẠI HỌC</h4>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <img src="~/dist/images/team-meeting-gradient.jpg" class="d-block w-100" alt="...">
                <div class="carousel-caption d-md-block">
                    <div class="row">
                        <div class="col-sm text-center focus-in-contract-bck">
                            <h4 class="font-weight-bold">10%</h4>
                            <h4 class="font-weight-bold">TRÌNH ĐỘ DƯỚI ĐẠI HỌC</h4>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <img src="~/dist/images/team-meeting-gradient.jpg" class="d-block w-100" alt="...">
                <div class="carousel-caption d-md-block">
                    <div class="row">
                        <div class="col-sm text-center focus-in-contract-bck">
                            <h4 class="font-weight-bold">04 %</h4>
                            <h4 class="font-weight-bold">LAO ĐỘNG PHỔ THÔNG</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

