<div class="container">
    <div class="row pt-5">
        <div class="col-4">
            <h2 class="text-uppercase graphite-font-color font-weight-bold">MỤC TIÊU</h2>
        </div>
        <div class="col-8">
            <div class="col-12 p-0">
                <p class="multiline">
                    Với kỳ vọng tiến sâu vào chuỗi giá trị trong khai thác và chế biến Graphite, Vietnam Graphite đã có kế hoạch hợp tác để thực hiện tuyển sâu, nâng cấp tinh quặng tuyển nổi đạt hàm lượng carbon cố định từ 96% đến 98% phục vụ các ứng dụng truyền thống và hàm lượng 99,95% phục vụ các ứng dụng cao cấp. Dự kiến bắt đầu từ cuối năm 2020, Vietnam Graphite có thể cung cấp các sản phẩm tuyển sâu này ra thị trường.

                    Sau nhiều lần được kiểm tra và thí nghiệm tại các phòng thí nghiệm có uy tín hàng đầu thế giới về graphite, có thể nói Vietnam Graphitemay mắn có được mỏ graphite có chất lượng cao, tạp chất lành, có tính chất hóa lý phù hợp cho tuyển nổi, tuyển sâu và chế biến sâu phục vụ các ứng dụng truyền thống và cao cấp. Điều này được bảo chứng bởi thực tế là nhiều công ty của Trung Quốc – trung tâm graphite thế giới – cũng nhập sản phẩm graphite tuyển nổi của VGG về để tuyển sâu và chế biến sâu.

                    Ngoài ra, trong trung hạn Vietnam Graphite cũng hướng đến việc chế biến sâu các sản phẩm tuyển sâu thông qua micron hóa và tráng phủ; phục vụ ngành chế tạo pin/ắc quy cho ô tô điện và thiết bị điện tử.
                </p>
            </div>
        </div>
    </div>
    <div class="row pt-5">
        <img class="w-100" src="~/dist/images/deep-product.jpg" />
    </div>
</div>