<div class="container">
    <div class="row pt-5">
        <div class="col-12 text-center">
            <h2 class="text-uppercase graphite-font-color font-weight-bold">ƯU ĐIỂM</h2>
        </div>
        <div class="col-12">
            <div class="col-12 p-0">
                <p class="font-weight-bold">
                    Graphite có rất nhiều ưu điểm khiến nó trở thành vật liệu được sử dụng rộng rãi nhất trong sx điện cực EDM:
                </p>
                <p class="multiline">
                    - Dễ dàng gia công;
                    - Hệ số giãn nở nhiệt thấp (thấp hơn 3 lần so với đồng), giúp đảm bảo sự ổn định trong quá trình gia công điện cực;
                    - Có hình tấm khối lớn;
                    - Không tan cảy nhưng chuyển trực tiếp từ thể rắn sang thể khí ở nhiệt độ 3400 độ C, giúp làm giảm sự hao mòn;
                    - Khối lượng riêng nhẹ, kết quả điện cực được tạo ra nhẹ hơn;
                    - Độ hao mòn thấp do cung cấp một tỷ lệ hao mòn kim loại cao hơn;
                    - Có đặc tính độc đáo mà tỷ lệ hao mòn có xu hướng giảm khi cường độ xung tăng;
                    Mỗi năm, lượng graphite được tiêu thụ trên toàn cầu trị giá hơn 38 triệu USD. Ngành công nghiệp Graphite bị chi phối bởi các nhà sản xuất lớn nằm chủ yếu ở Trung Quốc (40% sản lượng Graphite tự nhiên trên thế giới), Ấn Độ, Braxin, Mexico và Bắc Triều Tiên.

                    Theo Công ty Phân tích Thị trường Roskill, năm 2002 sản lượng trung bình của Graphite tự nhiên trên thế giới khoảng 620 nghìn tấn/ năm (dao động tối đa hàng năm trong khoảng 15%). ước tính sản lượng năm 2004 là 756 nghìn tấn trên toàn cầu.
                </p>
                <p class="font-weight-bold">
                    Các ứng dụng của graphite
                </p>
                <p class="multiline">
                    - Graphite được sử dụng rộng rãi trong các ngành công nghiệp luyện kim, hóa chất, cơ khí, thủy tinh để chế tạo các khuôn đúc, nồi nấu kim loại, điện cực và các linh kiện điện;
                    - Graphite đóng vai trò quan trọng trong y học, xử lý môi trường, công nghệ năng lượng và vận tải. Các ứng dụng mới và đang phát triển là các động lực cho tăng trưởng của graphite. đặc biệt, graphite chất lượng cao có tiềm năng ứng dụng lớn trong lĩnh vực pin thông thường và pin nhiên liệu. Dự báo, nhu cầu ngắn hạn hiện nay đạt khoảng 12-15 nghìn tấn/ năm và dài hạn có thể đạt tới 100 nghìn tấn/ năm.

                    Hiện nay, Vietnam Graphite có thể cung cấp các sản phẩm tuyển nổi có hàm lượng carbon cố định (fixed carbon – FC) từ 90% đến 95%; với phân bố cỡ hạt như sau:
                </p>
            </div>
            <div class="row pt-5">
                <div class="col-6">
                    <div class="row text-center text-lg-left align-items-lg-center">
                        <div class="col-12 text-dark">
                            <h5 class="font-weight-bold my-0 text-uppercase">
                                Hạt có kích thước – 100 mesh
                            </h5>
                            <hr />
                        </div>
                        <div class="col-12 text-dark">
                            <img src="~/dist/images/than-1.png" width="100%" />
                        </div>
                        <div class="col-12 pt-2 text-dark text-center">
                            <span class="multiline">
                                Hạt có kích thước
                                – 100 mesh (150 micron)
                                chiếm khoảng 55%
                            </span>
                        </div>
                        @*<div class="col-12 text-dark">
                            <hr />
                        </div>*@
                        @*<div class="col-12 text-right">
                            <a class="text-dark" href="#">Xem thêm ...</a>
                        </div>*@
                    </div>
                </div>
                <div class="col-6">
                    <div class="row text-center text-lg-left align-items-lg-center">
                        <div class="col-12 text-dark">
                            <h5 class="font-weight-bold my-0 text-uppercase">
                                Hạt có kích thước +50 mesh
                            </h5>
                            <hr />
                        </div>
                        <div class="col-12 text-dark">
                            <img src="~/dist/images/than-2.png" width="100%" />
                        </div>
                        <div class="col-12 pt-2 text-dark text-center">
                            <span class="multiline">
                                Hạt có kích thước
                                + 50 mesh (300 micron)
                                chiếm khoảng 13%
                            </span>
                        </div>
                        @*<div class="col-12 text-dark">
                            <hr />
                        </div>*@
                        @*<div class="col-12 text-right">
                            <a class="text-dark" href="#">Xem thêm ...</a>
                        </div>*@
                    </div>
                </div>
            </div>
            <div class="row pt-5">
                <div class="col-6">
                    <div class="row text-center text-lg-left align-items-lg-center">
                        <div class="col-12 text-dark">
                            <h5 class="font-weight-bold my-0 text-uppercase">
                                Hạt có kích thước +80 mesh
                            </h5>
                            <hr />
                        </div>
                        <div class="col-12 text-dark">
                            <img src="~/dist/images/than-3.png" width="100%" />
                        </div>
                        <div class="col-12 pt-2 text-dark text-center">
                            <span class="multiline">
                                Hạt có kích thước
                                + 80 mesh (180 micron)
                                chiếm khoảng 16%
                            </span>
                        </div>
                        @*<div class="col-12 text-dark">
                            <hr />
                        </div>*@
                        @*<div class="col-12 text-right">
                            <a class="text-dark" href="#">Xem thêm ...</a>
                        </div>*@
                    </div>
                </div>
                <div class="col-6">
                    <div class="row text-center text-lg-left align-items-lg-center">
                        <div class="col-12 text-dark">
                            <h5 class="font-weight-bold my-0 text-uppercase">
                                Hạt có kích thước +100 mesh
                            </h5>
                            <hr />
                        </div>
                        <div class="col-12 text-dark">
                            <img src="~/dist/images/than-4.png" width="100%" />
                        </div>
                        <div class="col-12 pt-2 text-dark text-center">
                            <span class="multiline">
                                Hạt có kích thước
                                + 100 mesh (150 micron)
                                chiếm khoảng 16%
                            </span>
                        </div>
                        @*<div class="col-12 text-dark">
                            <hr />
                        </div>*@
                        @*<div class="col-12 text-right">
                            <a class="text-dark" href="#">Xem thêm ...</a>
                        </div>*@
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>