<div class="container">
    <div class="row pt-5">
        <div class="col-12">
            <img class="w-100" src="~/dist/images/sojitz.png" />
            <span class="text-muted">
                Sojitz làm đối tác phân phối và marketing
                độc quyền
            </span>
            <div class="col-12">
                <img class="w-100" src="~/dist/images/urbix.png" />
            </div>
            <span class="text-muted">
                Urbix cũng sẽ là đối tác thương mại của
                Vietnam Graphite trong việc phân phối
                Graphite cho thị trường Châu Mỹ
                (Bắc Mỹ, Mỹ La tinh và Caribe)
            </span>
        </div>
        <div class="col-12 pt-5">
            <div class="col-12 p-0">
                <img class="w-100" src="~/dist/images/hop-tac.jpg" />
            </div>
            <div class="row pt-5">
                <div class="col-12">
                    <p class="multiline">
                        Graphite là một mặt hàng đặc biệt, nên việc tiêu thụ cũng theo phương thức riêng. Theo đó, các nhà sản xuất thường liên kết với các công ty thương mại hàng đầu thế giới để phân phối sản phẩm vì các công ty tiêu dùng graphite rất ít khi mua trực tiếp từ các công ty khai thác và chế biến mà hầu hết đều mua qua các công ty phân phối graphite lớn do các công ty này có đủ điều kiện thẩm định, giám sát và bảo đảm chất lượng để sản phẩm có <strong>CHẤT LƯỢNG CAO NHẤT QUÁN, VỚI NGUỒN CUNG ỔN ĐỊNH</strong> đến tay người tiêu dùng cuối.

                        Đồng thời với thành công về đối tác công nghệ, Vietnam Graphite cũng đã đạt được thỏa thuận hợp tác lâu dài với đối tác chiến lược là Tập đoàn Sojitz Nhật Bản. Tháng 03.2019; đại diện Tập đoàn Sojitz đã sang làm việc với Vietnam Graphite . Sau đó Sojitz được chọn làm đối tác phân phối và marketing độc quyền trong thời gian thử nghiệm 01 năm, sau đó hai bên sẽ bàn thảo, gia hạn thỏa thuận độc quyền, phục vụ mục tiêu phát triển dài hạn. Sojitz đã tiếp cận khách hàng lớn toàn cầu (trừ khu vực Châu Mỹ) trong tiêu thụ sản phẩm phục vụ ứng dụng truyền thống (vật liệu chịu lửa, khuôn đúc, bôi trơn,…) và ứng dụng cao cấp (sản xuất pin, ắc quy lithium phục vụ ngành sản xuất ô tô điện); với ưu tiên tiêu thụ sản phẩm cho các ứng dụng cao cấp. Hai bên đã nhất trí về việc Sojitz tiêu thụ sản lượng khoảng 30.000 tấn sản phẩm trong hai năm 2019 và 2020; bắt đầu từ việc tiêu thụ sản phẩm tuyển nổi, sau đó từ cuối năm 2020 sẽ tiêu thụ sản phẩm tuyển sâu và chế biến sâu.

                        VGG và Sojitz đã ký kết thư ghi nhớ trong tháng 05.2019. Sojitz đã hoàn thành việc đàm phán với các khách hàng là các công   ty sử dụng graphite tự nhiên cánh vẩy lớn nhất thế giới tại Nhật Bản, Đức, các nước Châu Âu khác; Hàn Quốc, Đài Loan, Ấn Độ và các nước Châu Á khác. Hiện nay, VGG và Sojitz đã bắt đầu bán hàng thường xuyên cho một số khách hàng sau khi việc gửi mẫu để khách hàng thẩm duyệt có phản hồi tích cực. Một số khách hàng lớn của VGG và Sojitz trong tương lai là:

                        - Grafitbergbau Kaisersberg GmbH, Áo
                        - Technografit, Đức
                        -  KR, Hàn Quốc
                        - Tirupati Ấn Độ
                        -  Cosco Hàn Quốc

                        Với năng lực thương mại và tiềm lực kinh tế mạnh, uy tín và truyền thống lớn (trên 150 năm hoạt động, doanh số năm 2018 khoảng 16 tỷ USD); ngoài việc phân phối sản phẩm tuyển nổi, Tập đoàn Sojitz có thể tiếp cận, cung cấp cho các nhà sản xuất pin và ắc quy hàng đầu thế giới như Panasonic, Hitachi, SK Hàn Quốc, LG , Samsung. Thỏa thuận hợp tác giữa hai bên cũng dưới hình thức độc quyền: Sojitz sẽ không hợp tác với các đối tác khác tại Việt Nam về graphite.

                        Ngoài vai trò là đối tác công nghệ; Công ty Urbix cũng sẽ là đối tác thương mại của VGG trong việc phân phối sản phẩm graphite cho thị trường Châu Mỹ (Bắc Mỹ, Mỹ La tinh và Caribe). Hai bên đã ký hợp đồng tiêu thụ độc quyền tại khu vực Châu Mỹ trong hai năm (05.2019 đến 05.2021) với sản lượng khoảng 20.000 tấn/năm. Trong tháng 07.2019, VGG bắt đầu gửi hàng sang Hoa Kỳ trong khuôn khổ của hợp đồng này.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>