<div class="container">
    <div class="row pt-5">
        <div class="col-4">
            <h3 class="text-uppercase graphite-font-color font-weight-bold">
                ĐỐI TÁC
                CHIẾN LƯỢC
            </h3>
        </div>
        <div class="col-8">
            <div class="col-12 p-0">
                <img class="w-100" src="~/dist/images/stragery-partner.jpg" />
            </div>
            <div class="row pt-5">
                <p class="multiline">
                    Thị trường tiêu thụ graphite cánh vẩy tự nhiên trên thế giới hiện rất lớn so với khả năng cung ứng của công ty. Đặc biệt, dự báo sẽ có tăng đột biến về nhu cầu trong tương lai khi ô tô điện dần thay thế ô tô sử dụng động cơ đốt trong hiện nay (mỗi ắc quy ô tô trong ô tô điện chứa khoảng từ 50-110 kg graphite cao cấp). Tất nhiên, đây là tương lai xa trong từ 05 đến 20 năm tới, khi việc cấm ô tô động cơ đốt trong có hiệu lực tại hầu hết các nước trên thế giới, song có thể nói đây là cơ sở quan trọng về tương lai tốt đẹp của graphite, đó là chưa kể đến các nhu cầu truyền thống hiện nay.

                    Dự kiến đến giữa năm 2020, VGG sẽ nâng công suất tuyển nổi của nhà máy lên 50.000 tấn/năm; vừa đáp ứng nhu cầu của thị trường thế giới đối với sản phẩm tuyển nổi; vừa đáp ứng nhu cầu nguyên liệu đầu vào cho chiến lược tuyển tuyển sâu và chế biến sâu tinh quặng graphite của VGG, nhằm cung cấp ra thị trường những sản phẩm cao cấp, có giá trị gia tăng cao, tạo đột phá về doanh thu và lợi nhuận; giúp VGG tiến sâu bền vững vào chuỗi giá trị của sản phẩm graphite.
                </p>
                <p class="font-weight-bold">
                    Tập đoàn Vietnam Graphite hội đủ điều kiện để thực hiện mục tiêu dài hạn nhờ có:
                </p>
                <p class="multiline">
                    - Mỏ có chất lượng tốt, trữ lượng đủ lớn, điều kiện khai thác/giao thông thuận lợi
                    - Đối tác Hoa Kỳ có công nghệ tuyển sâu sạch và tiên tiến nhất thế giới hiện nay
                    - Đối tác Nhật Bản phân phối sản phẩm có truyển thống lâu năm và uy tín hàng đầu thế giới
                </p>
            </div>
        </div>
    </div>
</div>