<div class="container">
    <div class="row pt-5">
        <div class="col-12">
            <div class="col-6 offset-3">
                <img class="w-100" src="~/dist/images/urbix.png" />
            </div>
            <span class="text-muted">
                Đối tác về công nghệ của Vietnam Graphite
                là Công ty Urbix Resources Hoa Kỳ
            </span>
        </div>
        <div class="col-12 pt-5">
            <div class="col-12 p-0">
                <img class="w-100" src="~/dist/images/urbix-1.jpg" />
            </div>
            <div class="row pt-5">
                <div class="col-12">
                    <p class="multiline">
                        Đối tác về công nghệ của VGG là Công ty Urbix Resources Hoa Kỳ. Công ty Urbix có công nghệ tiên tiến và sạch nhất thế giới hiện nay về tuyển sâu (Hàm lượng cacbon 99,95% đến 99,99%), chế biến sâu (vê tròn, tráng phủ); với các ưu việt trong vận hành, thân thiện với môi trường và đặc biệt là chi phí thấp hơn nhiều lần so với công nghệ tuyển sâu hiện nay tại Trung Quốc.

                        Công ty Urbix được Chính phủ Mỹ chọn làm nhà thầu nghiên cứu và triển khai ứng dụng graphite phục vụ ngành công nghiệp hạt nhân tại Mỹ. Tại Hà Nội, VGG và Công ty Urbix đã ký thỏa thuận hợp tác vào tháng 03.2019, tiến tới ký kết hợp đồng liên doanh vào đầu năm 2020 để thành lập “Công ty TNHH Graphite Việt Mỹ”. Với đầu vào là sản phẩm tuyển nổi của VGG, sản phẩm của liên doanh là tinh quặng graphite có hàm lượng cao (96-98% carbon) và rất cao (trên 99.95%); phục vụ xuất khẩu. Theo thỏa thuận giữa hai bên, Urbix chỉ hợp tác tại Châu Á với một đối tác duy nhất là Vietnam Graphite Group, nhằm cùng đưa VGG tiến sâu hơn vào chuỗi giá trị trong ngành graphite thế giới. Các sản phẩm tuyển sâu sau đó được vê tròn và tráng phủ, cung cấp cho các công ty sản xuất pin lithium sản xuất điện cực.

                        VGG có lợi thế lớn trong cạnh tranh nhờ đã tiếp cận được công nghệ độc quyền ưu việt đứng đầu thế giới về tuyển sâu và chế biến sâu mà đối tác Urbix cam kết chỉ làm độc quyền với Vietnam Graphite Group ở khu vực Châu Á. Với ưu thế về công nghệ tiên tiến và chi phí chế biến thấp, VGG có đủ năng lực cạnh tranh và giành lợi thế trước các công ty trong nước và các công ty Trung Quốc.
                    </p>
                </div>
            </div>
            <div class="row pt-5">
                <div class="col-6">
                    <img class="w-100" src="~/dist/images/urbix-2.png" />
                </div>
                <div class="col-6">
                    <img class="w-100" src="~/dist/images/urbix-3.png" />
                </div>
            </div>
            <div class="row pt-5">
                <div class="col-12">
                    <p class="multiline">
                        <em>Tìm hiểu thêm về công ty Urbix resources </em>
                        <a href="https://urbixresources.com">
                            https://urbixresources.com
                        </a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>