@model NewsDetailVM
@{
    ViewData["Title"] = "Tin tức";
    bool isMobile = false;

    if (ViewData["IsMobile"] != null)
    {
        isMobile = (bool)ViewData["IsMobile"];
    }
}

@section Scripts{
    <script src="~/dist/news-mng.bundle.js"></script>
}

<div id="product-contain" class="mb-5">
    <div id="partner-header-carousel" class="carousel slide" data-ride="carousel" data-interval="false">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="~/dist/images/news-header.png" class="d-block w-100">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row pt-5">
            @if (isMobile)
            {
                <partial name="_DetailRight.Mobile" model="@Model.NewsDetail" />
            }
            else
            {
                <partial name="_DetailLeft" model="@Model.PopularNews" />
                <partial name="_DetailRight" model="@Model.NewsDetail" />
            }
        </div>
    </div>
</div>

